<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css"></head>
<body>
    <footer>
        <div class="footer-content">
            <div class="contact-content">
                <div class="phone">
                    <div style="padding: 5px;">
                        <img src="../public/picture/phone_whiteicon.png" alt="phonecontact" style="width: 35px; ">
                    </div>
                    <div>
                        <p style="font-size: 25px;">1234</p>
                    </div>
                </div>
                <p style="margin-top: 20px;">Contact</p>
                <p style="margin-top: 20px;">Follow us</p>
                <div class="social-icon">
                    <div>
                        <img src="../public/picture/fb_icon.png" alt="facebook" style="width: 50px;">
                    </div>  
                    <div>
                        <img src="../public/picture/line_icon.png" alt="line" style="width: 50px;">
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2023 Enkonomiya. All rights reserved</p>
            </div>
        </div>
    </footer>
</body>
</html>