<body>
    <header>
        <div class="navbar">
            <div class="storeicon" style="width: 50px;">
                <img src="/picture/store_icon.png" alt="storeicon" style="width: 50px;">
            </div>
            <div class="nav-link">
                <ul>
                    <li><a href="home.html" class="nav-item">Home</a></li>
                    <li><a href="main.html" class="nav-item">Menu</a></li>
                    <li><a href="#footer" class="nav-item">Contact</a></li>
                </ul> 
            </div>
            <div class="cart-icon" style="width: 50px;">
                <a href="cart.html"><img src="/picture/cart_icon.jpeg" alt="acarticon" style="width: 42px;"></a>
            </div>
            <div class="account-icon" style="width: 50px;">
                <a href=""><img src="/picture/user_icon.png" alt="accounticon" style="width: 42px;"></a>
            </div>
            <hr class="line">  
        </div>
    </header>
</body>