<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/admin.css">
    <title>Admin-Order-Mangement</title>
</head>
<body>

    <%- include('partials/header'); %>
    
        <div class="navbar">
            <div class="user">
                <i class="fa-regular fa-circle-user"></i>
            </div>

            <div class="list">
                <ul class="#">
                    <a href="#">DASHBOARD</a></li>
                    <li class="">
                        <div class="order-mang">
                            <i class="fa-solid fa-caret-right fa-rotate-90"></i> ORDER MANAGEMENT
                        </div>
                        <ul class="dropdropdown-menu">
                            <li class="dropdown-item-text"><a href="admin-queueing">QUEUEING</a></li>
                            <li class="dropdown-item-text"><a href="admin-cooking">COOKING</a></li>
                            <li class="dropdown-item-text"><a href="admin-delivering">DELIVERING</a></li>
                            <li class="dropdown-item-text"><a href="admin-successed">SUCCESSED</a></li>
                        </ul>
                    </li>
                   </ul>
            </div>

            <div class="logout">
                <button class="btn btn-light btn-outline-light shadow-lg border-dark" type="button">Logout</button>
            </div>

        </div>

        <div class="topic">
            <div class="topic-head">
                COOKING
            </div>
        </div>

    <div class="container">

        <div class="update">
            <button type="button" class="btn btn-outline-warning">UPDATE</button>
        </div>
        
        <table>
            <tr>
              <th></th>
              <th>No</th>
              <th>Customer_Name</th>
              <th>Order_Date</th>
              <th>Quantity</th>
              <th>Status</th>
              <th></th>
            </tr>
            <tr>
              <td><input type="checkbox" checked="checked"></td>
              <td>1</td>
              <td>Dusit</td>
              <td>22/09/2023</td>
              <td> 7 </td>
              <td>COOKING</td>
              <td><button class="btn btn-danger" type="button">DEL</button></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" checked="checked"></td>
                <td>2</td>
                <td>Dusit</td>
                <td>22/09/2023</td>
                <td> 7 </td>
                <td>COOKING</td>
                <td><button class="btn btn-danger" type="button">DEL</button></i></td>
            </tr>
          </table>
    </div>
    

    <script src="https://kit.fontawesome.com/ffb1febe33.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>