<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <%- include('partials/header'); %>

    <div class="cart-container">
        <div class="heading">
            <h1>Cart</h1>
        </div>
        <div class="cart-content">
            <table>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>

            <div class="btn-buy">
                <button class="btn" style="color: white;">Purchase</button>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); %>
</body>
</html>