<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preparing</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <%- include('partials/header'); %>

    <div class="status">
        <h1>Delivery status</h1>
        <div class="pic-status">
            <img src="/public/picture/cooking.gif" alt="cooking" class="status-gif">
        </div>
        <h3>YOUR ORDER IS PREPARING</h3>
    </div>

    <%- include('partials/footer'); %>
</body>
</html>