<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivring</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>

    </header>

    <div class="status">
        <h1>Delivery status</h1>
        <div class="pic-status">
            <img src="/picture/ordering.gif" alt="ordering" class="status-gif">
        </div>
        <h3>YOUR ORDER IS DELIVERING</h3>
    </div>

    <footer>
        
    </footer>
</body>
</html>