<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dessert</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <%- include('partials/header'); %>
    <div class="catogery-bar">
        <div>
            <img src="/public/picture/menu.png" alt="menu" style="margin-left: 200px; width: 50px; height: 25px;">
            <label for="menu" class="category">Category</label>
        </div>
        <div class="stage">
            <div class="item-box item-name">
                <a href="/main" class="name"><img src="/public/picture/main.png" alt="maindish" class="img-res" style="width: 75px;"></a>
                <span style="color: black;">Main</span>
            </div>
            <div class="item-box item-name">
                <a href="/appetizer" class="name"><img src="/public/picture/appetize.png" alt="appetizer" class="img-res" style="width: 75px; height: 39px;"></a>
                <span style="color: black;">Appetizer</span>
            </div>
            <div class="item-box item-name">
                <a href="/drink" class="name"><img src="/public/picture/drinks.png" alt="drinks" class="img-res" style="width: 75px; height: 39px;"></a>
                <span style="color: black;">Drinks</span>
            </div>
            <div class="item-box item-name">
                <a href="/dessert" class="name"><img src="/public/picture/desserts.png" alt="drinks" class="img-res" style="width: 75px; height: 39px;"></a>
                <span style="color: black;">Dessert</span>
            </div>
        </div>
    </div>

    <div class="product-container">
        <h1 class="heading">Dessert</h1>
        <div class="container-row">
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/choclava.png" alt="choclava" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Chocolate lava</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">99฿</span>
                        </button>
                    </div>
                </div>              
            </div> 
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/stawberrycheesecake.png" alt="stawberrycheesecake" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Stawberry cheesecake</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">99฿</span>
                        </button>
                    </div>
                </div> 
            </div>
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/honeytoast.png" alt="honeytoast" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Honey toast</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">99฿</span>
                        </button>
                    </div>
                </div> 
            </div>
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/frenchtoast.png" alt="frenchtoast" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">French toast</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">99฿</span>
                        </button>
                    </div>
                </div> 
            </div>
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/chocice.png" alt="chocice" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Chocolate icecream</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">99฿</span>
                        </button>
                    </div>
                </div> 
            </div>
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/parfait.png" alt="parfait" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Parfait</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">99฿</span>
                        </button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <%- include('partials/footer'); %>
</body>
</html>