<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <%- include('partials/header'); %>
    <div class="catogery-bar">
        <div>
            <img src="/public/picture/menu.png" alt="menu" style="margin-left: 200px; width: 50px; height: 25px;">
            <label for="menu" class="category">Category</label>
        </div>
        <div class="stage">
            <div class="item-box item-name">
                <a href="/main" class="name"><img src="/public/picture/main.png" alt="maindish" class="img-res" style="width: 75px;"></a>
                <span style="color: black;">Main</span>
            </div>
            <div class="item-box item-name">
                <a href="/appetizer" class="name"><img src="/public/picture/appetize.png" alt="appetizer" class="img-res" style="width: 75px; height: 39px;"></a>
                <span style="color: black;">Appetizer</span>
            </div>
            <div class="item-box item-name">
                <a href="/drink" class="name"><img src="/public/picture/drinks.png" alt="drinks" class="img-res" style="width: 75px; height: 39px;"></a>
                <span style="color: black;">Drinks</span>
            </div>
            <div class="item-box item-name">
                <a href="/dessert" class="name"><img src="/public/picture/desserts.png" alt="drinks" class="img-res" style="width: 75px; height: 39px;"></a>
                <span style="color: black;">Dessert</span>
            </div>
        </div>
    </div>

    <div class="product-container">
        <h1 class="heading">Drinks</h1>
        <div class="container-row">
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/coke_drinks.png" alt="coke" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Coke</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">25฿</span>
                        </button>
                    </div>
                </div>              
            </div> 
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/pepsi_drinks.png" alt="pepsi" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Pepsi</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">25฿</span>
                        </button>
                    </div>
                </div> 
            </div>
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/sprite_drinks.png" alt="sprite" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Sprite</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">25฿</span>
                        </button>
                    </div>
                </div> 
            </div>
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/milkshake_drinks.png" alt="milkshake" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Milkshake</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">50฿</span>
                        </button>
                    </div>
                </div> 
            </div>
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/orange_drinks.png" alt="orange" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Orange juice</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">40฿</span>
                        </button>
                    </div>
                </div> 
            </div>
            <div class="product-item">
                <div class="item-picture">
                    <img src="/public/picture/stawberry_drinks.png" alt="stawberrydrink" style="width: 200px; height: 180px;">
                    <span style="text-align: center; color: #b8a6c0;">Stawberry smoothie</span>
                    <div style="margin-top: 10px;">
                        <button class="btn add-to-cart">
                            <span style="color: white;">55฿</span>
                        </button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <%- include('partials/footer'); %>
</body>
</html>